*{
    font-family: 'Segoe UI';
}

body{
    background-color: #ebf5fc;
}

p{
    margin: 0;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.button{
    color: rgb(69, 255, 52);
    margin: 5px;
    border: none;
    padding: 5px;
    width: 35px;
    height: 35px;
    font-size: larger;
    text-align: center;
    border-radius: 5px;
    background-color: transparent;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1),
    -2px -2px 5px rgba(255, 255, 255,1);
}

span1, span2, select{
    word-wrap: break-word;
    margin: auto;
    margin-top: 15px;
    border-radius: 5px;
    height: auto;
    border: none;
    padding: 5px;
    width: 150px;
    background-color: transparent;
    color: gray;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1),
    -2px -2px 5px rgba(255, 255, 255,1);
}

select, span2{
    color: black;
}

span1:focus{
    outline: none;
    border: none;
    color: black;
    box-shadow: 2px 2px 5px inset rgba(0,0,0,0.1),
    -2px -2px 5px inset rgba(255, 255, 255,1);
}

span1:active, .button:active{
    box-shadow: 2px 2px 5px inset rgba(0,0,0,0.1),
    -2px -2px 5px inset rgba(255, 255, 255,1);
}

.button:hover{
    cursor: pointer;
}